*~
build/*
lcc/*
*.DS_STORE
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
daemon.*
daemonded.*
daemonmap.*
download-pk3.sh
librendererGL*
main/cgame.mp.*
main/game.mp.*
main/ui.mp.*
main/vm
libglcpp-library.a
libglsl_optimizer.a
libmesa.a
build-32/*
build-64/*
*.vcxproj.user
