*                                       text=auto

*.sh                                    eol=lf
*.pl                                    eol=lf
download-paks                           eol=lf

*.vcxproj                               eol=crlf
*.vcxproj.filter                        eol=crlf
