# use 'git ls-files -i --exclude-standard' for checking
# which already committed files are matched against these rules

*~
lcc
*.DS_Store
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
Makefile
cmake_install.cmake
daemon*
cgame-qvm-native.*
game-qvm-native.*
ui-qvm-native.*
vm
main/*.pk3
Release
Debug
build
*.vcxproj.user
*.kdev4

# NaCl
game-nacl-native-dll.*
game-nacl-native-exe*
game-x86*.nexe
game.pexe
irt_core-x86_64.nexe
nacl_helper_bootstrap*
sel_ldr*

#ignore editor temporary files
.*.swp
.#*

#ignore patch-generated
*.orig
*.rej

#ignore eclipse cdt project files
.project
.cproject
.settings

#ignore external deps
external_deps/*
!external_deps/build.sh

#never ignore these in subdirectories by accident
!.gitattributes
!.gitignore

