*~
build/*
lcc/*
*.DS_STORE
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
daemon*
download-pk3.sh
librendererGL*
main/cgame.*
main/game.*
main/ui.*
main/vm
libglcpp-library.a
libglsl_optimizer.a
libmesa.a
build-32/*
build-64/*
*.vcxproj.user
