sudo: required
services:
  - docker

os:
  - linux
  - osx

language:
  - cpp

env:
  - MODE=0
  - MODE=1
  - MODE=2

compiler:
  - clang
  - gcc

matrix:
  exclude:
    - env: MODE=2  # Don't build NaCl gamelogic with gcc
      compiler: gcc

install:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo rm -rf /opt/python; fi  # Delete conflicting python
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get install software-properties-common; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo add-apt-repository ppa:george-edison55/cmake-3.x -y; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get -qq update; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then sudo apt-get -qq install
    cmake ninja-build
    liblua5.2-dev
    libgeoip-dev
    libncursesw5-dev
    libsdl2-dev libglew-dev libfreetype6-dev
    libwebp-dev libjpeg8-dev libpng-dev
    libcurl4-gnutls-dev zlib1g-dev
    libopenal-dev libogg-dev libvorbis-dev libtheora-dev libxvidcore-dev libopusfile-dev libspeexdsp-dev
    nettle-dev libgmp-dev python-yaml python-jinja2; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew update; fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then brew install ninja; fi
  - sudo pip install -r src/utils/cbse/requirements.txt

script:
  - mkdir -p build
  - cd build
  - cmake --version
  - CXXFLAGS="-D__extern_always_inline=inline" cmake
    -DBUILD_CLIENT=$(($MODE == 0)) -DBUILD_TTY_CLIENT=$(($MODE == 0)) -DBUILD_SERVER=$(($MODE == 0))
    -DBUILD_CGAME=$(($MODE >= 1)) -DBUILD_SGAME=$(($MODE >= 1))
    -DBUILD_GAME_NATIVE_DLL=$(($MODE == 1)) -DBUILD_GAME_NATIVE_EXE=$(($MODE == 1))
    -DBUILD_GAME_NACL=$(($MODE == 2))
    -DUSE_WERROR=1 -DBE_VERBOSE=1 -G "Ninja" -DBUILD_GAME_NACL_NEXE=0 -DCMAKE_BUILD_TYPE=Debug ..
  - cmake --build . -- -j8

notifications:
  irc:
    - "irc.freenode.org#unvanquished-dev"
    - "irc.quakenet.org#unvanquished"
  on_success: change
  on_failure: always

branches:
  except:
    - /^cbse\/.*$/
    - debian
