language:
  - cpp
#  - objective-c

compiler:
  - gcc
  - clang

install:
  - sudo sh -c 'echo deb http://unv-debs.moreofthesa.me.uk precise main >>/etc/apt/sources.list'
  - sudo apt-key adv --keyserver x-hkp://pool.sks-keyservers.net --recv-key 06AF4C14
  - sudo sh -c 'echo deb http://ppa.launchpad.net/purplekarrot/ppa/ubuntu precise main >>/etc/apt/sources.list'
  - sudo apt-key adv --keyserver x-hkp://pool.sks-keyservers.net --recv-key D4762858
  - sudo add-apt-repository ppa:zoogie/sdl2-snapshots -y
  - sudo apt-get remove --purge cmake cmake-data
  - wget http://unvanquished.net/~modi/cmake_3.3.0-1_amd64.deb
  - sudo dpkg -i cmake_3.3.0-1_amd64.deb
  - sudo apt-get -qq update
  - sudo apt-get -qq install libwebp-dev libglew-dev libgmp-dev libjpeg8-dev libcurl4-gnutls-dev libfreetype6-dev libgeoip-dev libncursesw5-dev libogg-dev libopenal-dev libpng-dev libsdl2-dev libspeexdsp-dev libtheora-dev libvorbis-dev libopusfile-dev libxvidcore-dev nettle-dev zlib1g-dev ninja-build liblua5.2-dev

before_script:
  - wget http://clang.llvm.org/libstdc++4.6-clang11.patch;
  - wget "http://gcc.gnu.org/viewcvs/gcc/branches/gcc-4_7-branch/libstdc%2B%2B-v3/include/std/condition_variable?view=patch&r1=193528&r2=193527&pathrev=193528" -O libstdc++4.6-thread-fix.patch
  - sudo patch /usr/include/c++/4.6/type_traits < libstdc++4.6-clang11.patch;
  - sudo patch /usr/include/c++/4.6/condition_variable < libstdc++4.6-thread-fix.patch;

#install:
#  - brew update
#  - brew install ninja

script:
  - mkdir -p build
  - cd build
  - CXXFLAGS="-D__extern_always_inline=inline" cmake -DUSE_WERROR=1 -DBE_VERBOSE=1 -G "Ninja" -DCMAKE_BUILD_TYPE=Debug ..
  - cmake --build . -- -j8

notifications:
  irc:
    - "irc.freenode.org#unvanquished-dev"
    - "irc.quakenet.org#unvanquished"
  on_success: change
  on_failure: always

branches:
  except:
    - debian
