[Unit]
Description=Unvanquished Dedicated Server
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/unvanquished.conf
User=unvanquished
Group=unvanquished
ExecStart=/usr/lib/unvanquished/daemonded -libpath $LIBPATH -pakpath $PAKPATH -homepath $HOMEPATH +exec $EXEC

[Install]
WantedBy=multi-user.target
