Source: unvanquished
Section: contrib/games
Priority: extra
Maintainer: Darren Salt <devspam@moreofthesa.me.uk>
Build-Depends: debhelper (>= 8.0.0), g++ (>= 4.7) | g++-4.7, po-debconf, cmake,
	libcurl4-gnutls-dev,
	libfreetype6-dev,
	liblua5.2-dev,
	libglew-dev | libglew1.6-dev | libglew1.5-dev,
	libgmp-dev | libgmp3-dev,
	libjpeg-dev | libjpeg8-dev (>= 8d-1) | libjpeg62-dev,
	libncursesw5-dev,
	libogg-dev,
	libopenal-dev,
	libpng-dev | libpng12-dev,
	libsdl2-dev,
	libtheora-dev,
	libvorbis-dev,
	libopusfile-dev,
	libwebp-dev (>> 0.2),
	libgeoip-dev,
	nettle-dev,
	zlib1g-dev
Standards-Version: 3.9.5
Homepage: https://unvanquished.net
Vcs-Git: git://github.com/Unvanquished/Unvanquished.git
Vcs-Browser: https://github.com/Unvanquished/Unvanquished

Package: unvanquished
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	unvanquished-common (= ${binary:Version}),
	unvanquished-data-downloader (= ${binary:Version})
Suggests: unvanquished-server | unvanquished-tty
Description: Team-based FPS game, aliens v. humans
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.

Package: unvanquished-tty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	unvanquished-common (= ${binary:Version}),
	unvanquished-data-downloader (= ${binary:Version})
Suggests: unvanquished-server
Description: Team-based FPS game, aliens v. humans
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.
 .
 This package contains the TTY console for Unvanquished.

Package: unvanquished-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser,
	unvanquished-common (= ${binary:Version}),
	unvanquished-data-downloader (= ${binary:Version})
Suggests: unvanquished, geoip-database | geoip-database-contrib
Conflicts: unvanquished (<< 0.3.5-2~)
Replaces: unvanquished (<< 0.3.5-2~)
Description: Team-based FPS game, aliens v. humans - dedicated server
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.
 .
 This package contains the dedicated server for Unvanquished.

Package: unvanquished-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: unvanquished (<= 0.20.0-3)
Replaces: unvanquished (<< 0.4.0)
Description: Team-based FPS game, aliens v. humans - shared resources
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.
 .
 This package contains binaries used by both client and server.

Package: unvanquished-data-downloader
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, aria2 | curl | wget,
	unvanquished-common (= ${binary:Version})
Recommends: aria2
Description: Team-based FPS game, aliens v. humans - shared resources
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.
 .
 This package contains downloader for data used by both client and server.

Package: unvanquished-dbg
Section: contrib/debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	unvanquished (= ${binary:Version}) | unvanquished-tty (= ${binary:Version}) | unvanquished-server (= ${binary:Version}) | unvanquished-common (= ${binary:Version})
Description: Team-based FPS game, aliens v. humans - debug info
 Build a base, defend it against the other team, gain credits for better
 weapons or more advanced aliens, try to wipe them out.
 .
 This package contains debug information needed to generate useable
 backtraces etc.
