#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH_CPU := $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
DEB_HOST_GNU_CPU := $(shell dpkg-architecture -qDEB_HOST_GNU_CPU | sed -e 's/i.86/i386/')

NACL_HOST_CPU := $(shell dpkg-architecture -qDEB_HOST_GNU_CPU | sed -e 's/i.86/x86/')
NACL_SIZE_CPU := $(shell dpkg-architecture -qDEB_HOST_GNU_CPU | sed -e 's/i.86/32/;s/x86_64/64/')
NACL_STRIP := daemon/external_deps/linux${NACL_SIZE_CPU}-5/pnacl/bin/pnacl-strip

%:
	dh $@ --parallel

override_dh_auto_configure:
	mkdir -pv obj-${DEB_HOST_GNU_TYPE}
	cd obj-${DEB_HOST_GNU_TYPE} && \
	cmake .. -DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_SKIP_RPATH=ON \
		-DBUILD_CLIENT=ON \
		-DBUILD_SERVER=ON \
		-DBUILD_TTY_CLIENT=ON \
		-DBUILD_CGAME=ON \
		-DBUILD_SGAME=ON \
		-DBUILD_GAME_NACL=OFF \
		-DBUILD_GAME_NACL_NEXE=OFF \
		-DBUILD_GAME_NATIVE_EXE=OFF \
		-DBUILD_GAME_NATIVE_DLL=ON \
		-DUSE_CURSES=ON \
		-DUSE_GEOIP=ON \
		-DUSE_SMP=ON \
		-DUSE_BREAKPAD=OFF
	mkdir -pv obj-${DEB_HOST_GNU_TYPE}/nacl
	set
	cd obj-${DEB_HOST_GNU_TYPE}/nacl && \
	cmake ../.. -DCMAKE_BUILD_TYPE=Release \
		-DBUILD_CLIENT=OFF \
		-DBUILD_SERVER=OFF \
		-DBUILD_TTY_CLIENT=OFF \
		-DBUILD_CGAME=ON \
		-DBUILD_SGAME=ON \
		-DBUILD_GAME_NACL=ON \
		-DBUILD_GAME_NACL_NEXE=ON \
		-DBUILD_GAME_NATIVE_EXE=OFF \
		-DBUILD_GAME_NATIVE_DLL=OFF \
		-DUSE_CURSES=OFF \
		-DUSE_GEOIP=OFF \
		-DUSE_SMP=ON \
		-DUSE_BREAKPAD=OFF

override_dh_auto_build:
	dh_auto_build
	cd obj-${DEB_HOST_GNU_TYPE}/nacl && \
	unset LDFLAGS && \
	make -j$(nproc)
	./download-paks obj-${DEB_HOST_GNU_TYPE}/pkg

override_dh_auto_install:

override_dh_install:
	dh_install

override_dh_strip:
	dh_strip -Xnacl_ -X.nexe --dbg-package=unvanquished-dbg
	PNACLPYTHON=python2.7 ${NACL_STRIP} \
		obj-${DEB_HOST_GNU_TYPE}/irt_core-${NACL_HOST_CPU}.nexe \
		obj-${DEB_HOST_GNU_TYPE}/nacl/cgame-${NACL_HOST_CPU}.nexe \
		obj-${DEB_HOST_GNU_TYPE}/nacl/sgame-${NACL_HOST_CPU}.nexe

override_dh_auto_clean:
	dh_auto_clean

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_installexamples:
override_dh_installman:
override_dh_installcatalogs:
override_dh_installcron:
override_dh_installemacsen:
override_dh_installifupdown:
override_dh_installinfo:
override_dh_pysupport:
override_dh_installmime:
override_dh_installmodules:
override_dh_installlogcheck:
override_dh_installlogrotate:
override_dh_installpam:
override_dh_installppp:
override_dh_installudev:
override_dh_installwm:
override_dh_installxfonts:
override_dh_installgsettings:
override_dh_bugfiles:
override_dh_ucf:
override_dh_gconf:
override_dh_perl:
override_dh_usrlocal:
