#!/bin/bash -e

. /usr/share/debconf/confmodule

# Download from here
BASE_URL='http://downloads.sourceforge.net/project/unvanquished/Assets/'
MIRROR_DOMAIN='dl.sourceforge.net'
MIRROR_URL="http://%s.$MIRROR_DOMAIN/project/unvanquished/Assets/"

db_input medium unvanquished-common/download-pk3 || true
db_go

db_get unvanquished-common/download-pk3
if test "$RET" = true; then
  while :;  do
    db_input low unvanquished-common/mirror || true
    db_go

    db_get unvanquished-common/mirror

    # Sourceforge mirror?
    if echo "$BASE_URL" | grep -vq '[./]'; then
      BASE_URL="$(printf "$MIRROR_URL" "$1")"
    fi

    if test "${BASE_URL/#*:\/\/*\//://}" != '://' -o "$BASE_URL" = '://'; then
      continue # definitely not valid; try again
    fi
    break # probably valid; assume so
  done
fi
