[Desktop Entry]
Version=1.0
Name=Unvanquished
Comment=First-person shooter game - aliens vs humans
Icon=unvanquished
Terminal=false
Type=Application
Exec=/usr/games/unvanquished %u
Categories=Game;ActionGame;StrategyGame;
MimeType=x-scheme-handler/unv
